$max-width: 1200px;

$gutter: 20px;

$font-main: Open Sans, helvetica, arial, sans-serif;
$font-heading: Oswald, Verdana, serif;

$fontSize: 16px;

$colors: (
  black: #000,
  white: #fff,
  olive: #afb281,
  lightBlue: #cee8ff,
  lightYellow: #fcffd2,
  weirdPink: #cc9694
);
