$gutter: 1.25em;

$colors: (
  black: #000,
  white: #fff,
  olive: #afb281,
  lightBlue: #cee8ff,
  lightYellow: #fcffd2,
  weirdPink: #cc9694
);

.main {
  padding-right: $gutter;
  padding-left: $gutter;
  margin: 0 auto;
}

.image {
  max-width: 100%;
}

/* grid fyrir efni, setja þarf upp í html */

.grid__row {
  display: flex;
  margin-top: $gutter;
  margin-right: -10px;
  margin-left: -10px;
  flex-direction: row;
}

.grid__col {
  display: flex;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;

  * {
    margin-left: 0;
  }
}

.heading {
  font-family: $fontHeading;
}
