$maxWidth: 1200px;

$fontSize: 16px;
$fontMain: "Open Sans", helvetica, arial, sans-serif;
$fontHeading: Oswald, Verdana, serif;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-right: auto;
  margin-left: auto;
}

html { // stylelint-disable-line
  max-width: $maxWidth;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $fontMain;
  font-size: $fontSize;

  // TODO fleiri grunn stillingar
}

// TODO sækja allar sass skrár
@import "scss/config";
